<div class="container">
  <h2 class="text-center mt-5">Add new Restriction</h2>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-inputs">
        <%= simple_form_for @restriction do |f| %>
          <%= f.input :name %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <div class="form-actions text-center mt-3">
          <%= f.button :submit, "Add", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
