<div class="container">
  <!-- User main info -->
  <div class="pb-3 m-3 text-center">
    <h1 class="h4"><%= @user.name.capitalize %>'s profile</h2>
  </div>
  <!-- User restrictions -->
  <div> <!-- border-bottom will be added later -->
    <div class="d-flex justify-content-between">
      <h2 class="h6">Food restrictions</h2>
      <%= link_to "edit", edit_user_path(@user) %>
    </div>
    <div class="restriction-choices_profile">
      <% @user.restrictions.each do |food| %>
        <div class="restriction-choice_profile">
          <%= image_tag(food.photo, size: "30") %>
          <p><%= food.name %></p>
        </div>
      <% end %>
    </div>
  </div>
  <!-- User's favorite -->
  <!-- <div class="m-3 border-bottom">
    <h2 class="h6"><%= @user.name.capitalize %>'s favorites</h2>
    <% @user.histories.each do |product| %>
      <% if product.favorite == true %>
        <p><%= product.product_id %></p>
      <% end %>
    <% end %>
  </div> -->
  <!-- User scan histories -->
  <!-- <div class="m-3">
    <h2 class="h6">Scanned history</h2>
    <% @user.histories.each do |product| %>
      <p><%= product.product_id %></p>
    <% end %>
  </div> -->
</div>
