<div class="container mt-3">
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">History</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Restriction</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <!-- User scan histories -->
        <p class="mt-1">Today</p>
        <div class="d-flex flex-wrap justify-content-between px-3 mt-3">
          <% @user.histories.uniq(&:product_id).each do |history| %>
          <% if !history.product.name.nil? || !history.product.ingredients.nil? %>
            <% if ((Time.current - history.updated_at) / 1.day).round == 0 %>
              <%= link_to product_path(history.product) do %>
                <div class="history-card">
                  <% if history.product.front_photo.file.nil? %>
                    <img src="https://echelon-inc.com/wp-content/uploads/woocommerce-placeholder-600x600.png" height="150" width="150" alt="placeholder">
                  <% else %>
                    <%= cl_image_tag history.product.front_photo, height: 150, width: 150, crop: :fill %>
                  <% end %>
                  <p><%= history.product.name.capitalize %></p>
                  <% if history.favorite %>
                    <i class="fas fa-bookmark mark-icon-active"></i>
                  <% else %>
                    <i class="far fa-bookmark mark-icon"></i>
                  <% end %>
                  <% if (history.product.ingredients.downcase.delete("()").split(/[\s,]+/) & @allergens).any? %>
                    <i class="fas fa-exclamation-circle warning-icon"></i>
                  <% else %>
                    <i class="fas fa-thumbs-up safe-icon"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% end %>
        </div>
        <p class="mt-1">This week</p>
        <div class="d-flex flex-wrap justify-content-between px-3 mt-3">
          <% @user.histories.uniq(&:product_id).each do |history| %>
          <% if !history.product.name.nil? || !history.product.ingredients.nil? %>
            <% if ((Time.current - history.updated_at) / 1.day).round > 0 && ((Time.current - history.updated_at) / 1.day).round <= 7  %>
              <%= link_to product_path(history.product) do %>
                <div class="history-card">
                  <% if history.product.front_photo.file.nil? %>
                    <img src="https://echelon-inc.com/wp-content/uploads/woocommerce-placeholder-600x600.png" height="150" width="150" alt="placeholder">
                  <% else %>
                    <%= cl_image_tag history.product.front_photo, height: 150, width: 150, crop: :fill %>
                  <% end %>
                  <p><%= history.product.name.capitalize %></p>
                  <% if history.favorite %>
                    <i class="fas fa-bookmark mark-icon-active"></i>
                  <% else %>
                    <i class="far fa-bookmark mark-icon"></i>
                  <% end %>
                  <% if (history.product.ingredients.downcase.delete("()").split(/[\s,]+/) & @allergens).any? %>
                    <i class="fas fa-exclamation-circle warning-icon"></i>
                  <% else %>
                    <i class="fas fa-thumbs-up safe-icon"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% end %>
        </div>
        <p class="mt-1">Over a week</p>
        <div class="d-flex flex-wrap justify-content-between px-3 mt-3">
          <% @user.histories.uniq(&:product_id).each do |history| %>
          <% if !history.product.name.nil? || !history.product.ingredients.nil? %>
            <% if ((Time.current - history.updated_at) / 1.day).round > 7 %>
              <%= link_to product_path(history.product) do %>
                <div class="history-card">
                  <% if history.product.front_photo.file.nil? %>
                    <img src="https://echelon-inc.com/wp-content/uploads/woocommerce-placeholder-600x600.png" height="150" width="150" alt="placeholder">
                  <% else %>
                    <%= cl_image_tag history.product.front_photo, height: 150, width: 150, crop: :fill %>
                  <% end %>
                  <p><%= history.product.name.capitalize %></p>
                  <% if history.favorite %>
                    <i class="fas fa-bookmark mark-icon-active"></i>
                  <% else %>
                    <i class="far fa-bookmark mark-icon"></i>
                  <% end %>
                  <% if (history.product.ingredients.downcase.delete("()").split(/[\s,]+/) & @allergens).any? %>
                    <i class="fas fa-exclamation-circle warning-icon"></i>
                  <% else %>
                    <i class="fas fa-thumbs-up safe-icon"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% end %>
        </div> 
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <!-- User restrictions -->
        <div class="restriction-choices_profile mt-3">
          <% @user.restrictions.each do |food| %>
            <div class="restriction-choice_profile">
              <%= image_tag(food.photo, size: "30") %>
              <p class="mb-0"><%= food.name %></p>
            </div>
          <% end %>
        </div>
        <div class="text-center my-3">
        <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
           <i class="far fa-edit"></i> Edit
        <% end %>
        </div>
    </div>
  </div>  
</div>
