<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <div class="d-flex align-items-center user">
    <% if user_signed_in? %>
      <a class="nav-link p-0 user_avatar">
        <%= user_avatar(current_user) %>
      </a>
      <%= link_to user_path(current_user), class:"dropdown-item", id:"profile" do %>
        <i class="fas fa-address-card"></i>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "session text-decoration-none", class:"dropdown-item", id:"logout" do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "session text-decoration-none" do %>
        <p class="mb-0">Login</p>
      <% end %>
    <% end %>
  </div>
</div>
