<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.png' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div>
    <%= link_to scan_barcodes_path, class: "nav-link" do%>
    <%= image_tag 'barcode.png', height:50, width:50 %>
    <% end %>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.avatar %>
          <%= cl_image_tag current_user.avatar, height:50, width:50, crop: :fill, gravity: :face, radius: :max, border: "2px_solid_black" %>
        <% else %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC4oRRuY4EBwz_neISEZR8Z8lCBC8G5yYCmtAj8Ko0TTAt7xSFi5KHNaDXdg&s=10" alt="logo" width="35" height="35" class="rounded-circle">
        <% end %>
        <li class="nav-item">
            <%= link_to "Product List", user_path(current_user), class: "dropdown-item" %>
        </li>
        <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
