<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <div class="d-flex align-items-center">
    <%= link_to scan_barcodes_path, class: "nav-link" do%>
      <%= image_tag 'barcode-green.png', height:60, width:60 %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to  user_path(current_user) do %>
        <%= user_avatar(current_user) %>
      <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class: "session text-decoration-none" do %>
          <p class="mb-0">Logout</p>
        <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "session text-decoration-none" do %>
        <p class="mb-0">Login</p>
      <% end %>
    <% end %>
  </div>
</div>
