  <% if !@product.ingredients.empty? %>
      <%= render 'alert'%>
  <% end %>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col col-lg-6">
              <div class="position-relative">
                  <% if @product.front_photo.file.nil? %>
                      <img class="product-img" src="https://echelon-inc.com/wp-content/uploads/woocommerce-placeholder-600x600.png" height="300" alt="placeholder">
                  <% else %>
                      <%= cl_image_tag @product.front_photo, height: 300, class: 'product-img shadow'%>
                  <% end %>
                  <h1 class="product-name d-flex">
                      <%= link_to edit_product_path(@product) do %>
                          <p class="edit-icon"><i class="fas fa-edit"></i></p>
                      <% end %>
                      <%= @product.name.capitalize %>
                  </h1>
                  <% if user_signed_in? %>
                      <% if !@history.nil? %>
                          <% if @history.favorite %>
                              <%= link_to bookmark_path(@product), method: :put do %>
                                  <i class="fas fa-bookmark product-mark-icon-active"></i>
                              <% end %>
                          <% else %>
                              <%= link_to bookmark_path(@product), method: :put do %>
                                  <i class="far fa-bookmark product-mark-icon"></i>
                              <% end %>
                          <% end %>
                      <% else %>
                          <%= link_to bookmark_path(@product), method: :put do %>
                              <i class="far fa-bookmark product-mark-icon"></i>
                          <% end %>
                      <% end %>
                  <% end %>
                  <div class="ingredient-list shadow">
                      <h2 class="text-center mt-4 mb-5 font-weight-bold"><%= image_tag("restrictions_logo/ingredient.png", size: "40", class: "mr-2 mb-2") %>Ingredients</h2>
                      <ul id="scroll-list" class="list-group list-group-flush">
                      <% if @product.ingredients.empty? %>
                          <li class="list-group-item text-center">No ingredients data yet</li>
                      <% else %>
                          <% @product.ingredients.downcase.delete("()").split(",").each do |ingredient| %>
                              <% if (ingredient.split(" ") & @allergens).any? %>
                                  <li class="list-group-item bg-danger font-weight-bold"><%= ingredient %></li>
                              <% else %>
                                  <li class="list-group-item"><%= ingredient %></li>
                              <% end %>
                          <% end %>
                      <% end %>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
